<div class="container-fluid">
  <div class="row">
  	<div class="col-xs-3"> </div>
  	<div class="col-xs-6">
	  <div class = "jumbotron">
	  	<h1>Creating new setellite</h1>
	  	<br>
	    <%= bootstrap_form_for([@setellite.computing, @setellite]) do |f| %>
  		  <h4><%= f.text_field :name %></h4>
  		  <h4><%= f.text_field :x %></h4>
  		  <h4><%= f.text_field :y %></h4>
  		  <h4><%= f.text_field :z %></h4>
  		  <h4><%= f.text_field :R %></h4>
  		  <%= f.submit class: "btn btn-info" %>
	    <% end %>
	    <p></p>
	    <%= link_to "Back", computing_setellite_path(@computing.id, @setellite.id), class: "btn btn-default"%>
	  </div>
	</div>
	<div class="col-xs-3"> </div>
  </div>
</div>