<div class="container-fluid">
  <div class="row">
  	<div class="col-xs-3"> </div>
  	<div class="col-xs-6">
	  <div class = "jumbotron">
	  	<h1><%= @setellite.name %></h1>
	  	<br>
	  	<h4>X: <%= @setellite.x %></h4>
	  	<h4>Y: <%= @setellite.y %></h4>
	  	<h4>Z: <%= @setellite.z %></h4>
	  	<h4>R: <%= @setellite.R %></h4>
	  	<%= link_to "Edit setellite", edit_computing_setellite_path(@computing, @setellite), class: "btn btn-info" %>
	  	<%= link_to "Destroy setellite", computing_setellite_path(@computing, @setellite), method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-danger" %>
	    <p></p>
	    <%= link_to "Back", @computing, class: "btn btn-default"%>
	  </div>
	</div>
	<div class="col-xs-3"> </div>
  </div>
</div>