<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3"> </div>
    <div class="col-xs-6">
    <div class = "jumbotron">
      <h1><%= @computing.name %></h1>
      <h3>Answers with 2-nd method</h3>
      <ul>
        <li>X: <%= @answer[0][0] %></li>
        <li>Y: <%= @answer[0][1] %></li>
        <li>Z: <%= @answer[0][2] %></li>
        <li>T: <%= @answer[0][3] %></li>
      </ul>
      <p></p>
      <%= link_to "Back", computing_path(@computing), class: "btn btn-default"%>
    </div>
  </div>
  <div class="col-xs-3"> </div>
  </div>
</div>