<div class="container-fluid">
  <div class="row">
  	<div class="col-xs-3"> </div>
  	<div class="col-xs-6">
	  <div class = "jumbotron">
	    <h1>Computings</h1>
	    <br>
        <% @computings.each do |computing| %>
          <h4><%= link_to computing.name, computing, class: 'link-info' %></h4>
        <% end %>
        <br>
        <%= link_to "New computing", new_computing_path, class: "btn btn-default"%>
      </div>
	</div>
	<div class="col-xs-3"> </div>
  </div>
</div>