<div class="container-fluid">
  <div class="row">
  	<div class="col-xs-3"> </div>
  	<div class="col-xs-6">
	  <div class = "jumbotron">
	    <%= bootstrap_form_for(@computing) do |f| %>
  		  <h4><%= f.text_field :name %></h4>
  		  <%= f.submit class: "btn btn-info" %>
	    <% end %>
	    <p></p>
	    <%= link_to "Back", computings_path, class: "btn btn-default"%>
	  </div>
	</div>
	<div class="col-xs-3"> </div>
  </div>
</div>