<div class="container-fluid">
  <div class="row">
  	<div class="col-xs-3"> </div>
  	<div class="col-xs-6">
	  <div class = "jumbotron">
	  	<h1><%= @computing.name %></h1>
	  	<% unless @setellites.empty? %>
	  	  <h3>Setellites</h3>
	  	  <% @setellites.each do |s| %>
	  	    <h4>Name: <%= link_to s.name, computing_setellite_path(@computing.id, s.id), class: "link-info" %></h4>
	  	    <ul>
	  	      <li>X: <%= s.x %></li>
	  	      <li>Y: <%= s.y %></li>
	  	      <li>Z: <%= s.z %></li>
	  	      <li>R: <%= s.R %></li>
	  	    </ul>
	  	  <% end %>
	  	<% end %>
	  	<%= link_to "Add setellite", new_computing_setellite_path(@computing), class: "btn btn-info" %>
	  	<%= link_to "Solve with the 1-st method", count_first_url(@computing), class: "btn btn-info" %>
	  	<%= link_to "Solve with the 2-d method", count_second_url(@computing), class: "btn btn-info" %>
	    <p></p>
	    <%= link_to "Back", computings_path, class: "btn btn-default"%>
	  </div>
	</div>
	<div class="col-xs-3"> </div>
  </div>
</div>